/*--------------FONTS------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');


/*----------------NAVBAR ---------------*/
.navbar-default {
    background-color: #FFF8EB;
    border: none;
}

.navbar-default .navbar-nav>.active>a {
  color: #ffffff !important;
  background-color: #6D2231 !important;
}

/* Dropdown menu color */
.navbar-default .dropdown-menu {
  background-color: #141c25;
}

/* Dropdown menu hover color */
  .navbar-default .dropdown-menu>li>a:hover {
    background-color: #6D2231;
  }

/* Navbar Links when hovered*/
/*.navbar-default .dropdown-menu>.active>a
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav:hover, */
.navbar-default .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  background-color: #E1B7BB !important;
}

/* Style the main body of the app*/
body {
  background-color: #aac7da;
  color: #1e1f1e;
  padding-top: 40px;
  padding-bottom: 0;
  font-family: 'Montserrat', sans-serif;
}
.main-container {
  background-color: #e3ecf3;
  color: #1e1f1e;
}


.col_12 {
  width: 100%;
}
.col_6 {
  width: 50%;
  float: left;
}
.col_4 {
  width: 33%;
  float: left;
}
.col_8 {
  width: 67%;
  float: left;
}
.col_2 {
  width: 16.66%;
  float: left;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Source Serif Pro', serif;
}


/* Some CSS for the headers by id*/
#Bio {
  text-align: center;
}


/*------------FOOTER----------*/

/* Divider line above footer */
.footer hr{
  width: 100%;
  border-top: none;
}

.footer {
  font-size: 16px;
  color: #808080;
  text-align: center;
  width: 90%;
  margin: 3rem auto;
  font-weight: 300;
}

.tocify-extend-page {
  height: 0px !important; /* Gets rid of extra space after footer*/
}

/*---------Github Project--------*/
.github_proj {
  background-color: #E1B7BB;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 7px;
}



