/* General Text Styling*/
h1, h2, h3 {
  font-family:Times New Roman;
  color:#1D3557;
  padding-left: 15px;
}
p {
  font-family:Times New Roman;
  color: #000004;
  padding: 7px 15px;
}

/* Navigation Bar Menu Styling */
.head {
  background:#FFF8EB;
  padding:5px;
  overflow: hidden;
}
.head a {
  float: left;
  color: #1D3557;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.head a:hover {
  background-color: #E1B7BB;
  color: #FFF8EB;
}
.head .curr_page {
  background-color: #6D2231;
  color: #FFF8EB;
}

/* Font Styling */
.t-light {
  color: #FFF8EB;
}
.t-dark {
  color: #192F4D;
}



.bg {
  padding: 0 0 10px 0;
  background-color:#192F4D;
}

.photo {
  padding:5px;
}

.info {
  display: inline-block;
}

.column{
  float:left;
  background-color:#192F4D;
}
.column-2 {
  width:16%;
}
.column-10 {
  width:83%;
}

.bio {
  padding: 5px;
  border:solid 2px;
  text-align:center;
  margin: 10px;
}

.contact a {
  text-decoration:none;
  color: #FFF8EB;
}